.list-ios,
ion-item {
  background: transparent;
  --background: transparent;
  --ion-item-background: transparent;
}

ol {
  padding-left: 0;
  list-style-position: inside;
  margin-block-start: 0;
  margin-block-end: 0;

  li {
    //margin-left: 0;
  }
}
