<ion-header>
  <ion-toolbar color="vermelho-base" class="ion-text-center">
    <ion-title> D.S.M. - Fatec Jahu </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="6" class="ion-text-center">
        <img src="assets/fatec_ra_bauru_jahu_cor.png" style="max-height: 60px" />
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="6" class="ion-justify-content-center" style="display: flex">
        <div style="max-width: 400px; width: 100%">
          <ion-list mode="ios">
            <ion-item detail="true" href="https://www.vestibularfatec.com.br/" target="_blank" class="ion-text-center">
              <ion-icon aria-hidden="true" name="today-outline" slot="start"></ion-icon>
              <ion-label color="verde-base">Vestibular</ion-label>
            </ion-item>
            <ion-item detail="true" href="https://fatecjahu.edu.br/cursos/desenvolvimento-de-software-multiplataforma/"
              target="_blank" class="ion-text-center">
              <ion-icon aria-hidden="true" name="school-outline" slot="start"></ion-icon>
              <ion-label color="blueberry-base">Sobre o Curso D.S.M.</ion-label>
            </ion-item>
            <ion-item detail="true" href="https://fatecjahu.edu.br/" target="_blank" class="ion-text-center">
              <ion-icon aria-hidden="true" name="home-outline" slot="start"></ion-icon>
              <ion-label color="coral-base">Site da Fatec</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label color="vermelho-base"> <b>Instruções </b></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p> <ion-text color="verde-base"><b>1.</b></ion-text> Tire uma foto ou escolha uma da sua galeria clicando no
          botão <b>TIRAR FOTO</b>.
        </p>
        <p> <ion-text color="verde-base"><b>2.</b></ion-text> Clique sobre a foto carregada e escolha uma das IAs
          programadas.
        </p>
        <p> <ion-text color="coral-base"><b>IMPORTANTE:</b></ion-text> As imagens ficam salvas apenas em seu aparelho,
          após o processamento da Inteligência Artificial o arquivo é deletado do servidor da Microsoft.
        </p>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="destaque-base" (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
